
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Kenia, Verdana, Geneva, Tahoma, sans-serif ;
  }
  
  ul li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    outline: none;
  }
  
  body {
    background-color:#444444;
    background-image: url(../imagenes/fondo2.jpg);

  }

  header {
    background-color:#000000;
    width: auto;
  }
  h1 img{
    height:80px;
    width: 160px;
  }
.navegacion_inicio{
  display: flex;
}
.img_producto{
    width: 600px;
    height: 300px;
}
nav img{
  width: 80px;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 0;
}

#carrito{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#cantidad_carrito {
  position: fixed;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  top: 25px;
}

#productos{
  text-align: center;
  padding: 20px 20px;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;

}
.pago{
  background-color:black;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  color: white;
  gap: 10px;
  width: 25%;
  margin: 20px;

}

.productos_card{
  width: 350px;
  height: auto;
  background-color: grey;
padding: 30px;
border-radius: 20px;
border: solid 2px grey;
box-shadow:  7px 7px 7px rgba(0, 0, 0, 0.2);
color:black;
}

.img_producto {
  width: 300px;
  height: 300px;
  border-radius: 50px;
}


  .productos_card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    filter: opacity(0.9);
  }

  #total_precio_carrito{
    border-radius: 10px;
    border: solid 2px grey;
    background-color: black;
    color: #EDEDED;
  }
  .btn_compra{
    size:100px
  }

  .footer{
    background-color:black;
  }
.eliminar_producto {
  font-size: 10px;

}

tr{
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: space-around;
}
.display_carrito{
  display: inline;
}
.header_carrito{
  width: 100%;
display: flex;
justify-content: space-between;
padding: 10px;

}
section{
  display: flex;
justify-content: center;
}
.footer_carrito{
  display: flex;
gap: 150px;
padding: 8px;
}

footer img{
  width: 50px;
}
.footer_redes{
  display: flex;
  text-align: center;
  justify-content: center;
}
.footer__logoredes{
  display: flex;
gap: 20px;
justify-content: center;
padding: 10px;
}
td{
  text-align: center;
}
.img_carro{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.text_foo{
  display: flex;
justify-content: center;
color: white;
font-size: 20px;

}
.footer__span{
  color: white;
  justify-content: center;
  display: flex;
}